div.form-group.marginTop10
    label House
    +textInput("concept", "house")
    label Family
    +textInput("concept", "family")
    label Public Name
    +textInput("concept", "public-name")
    label Secret Name
    +textInput("concept", "secret-name")
    label Age
    +textInput("concept", "age")
    label Titles
    +textInput("concept", "titles")