h2 Devotions
fieldset.repeating_devotion
    div.form-group.double-row
        label Name
        +textInput("devotions", "name")
        label Page
        +textInput("devotions", "page")
    div.form-group
        label Blessings
        +textInput("devotions", "blessings")