h2 Devotions
fieldset.repeating_devotion
    div.form-group.double-row
        label Name
        +textInput("devotions", "name")
        label Page
        +textInput("devotions", "page")
    div.form-group
        label Blessings
        input(type="text", name=`attr_devotions-blessings`, style="margin-left: -5px; width: 101%")