h2 Equipment
div(style="display: flex; flex-direction: row; justify-content: center;").flexGap10
    div(style="width: 40%")
        include ./equipment/artifacts.pug
    div(style="width: 40%")
        include ./equipment/items.pug