div.regions-form-group
    label Region
    label Rank
    label Produces
    label Holdings
    label Loyalty
    label Security
    - for (let currentRegion = 0; currentRegion < 10; currentRegion++)
        +region(currentRegion)
