div.character
    input(type="hidden", name="attr_sheetType", value="pc").sheet-typetoggle
    div.pc
        div.flexCol.flexGap10
            div.flexRow.flexGap10
                div.flexRow.flexGap10
                    +virtue("Bear", "Strength")
                    +virtue("Elk", "Cunning")
                    +virtue("Falcon", "Courage")
                    +virtue("Fox", "Beauty")
                    +virtue("Serpent", "Wisdom")
                    +virtue("Wolf", "Prowess")
                div.flexCol.flexGap10
                    select(name="attr_roll_virtue")
                        +virtueOption("Strength")
                        +virtueOption("Cunning")
                        +virtueOption("Courage")
                        +virtueOption("Beauty")
                        +virtueOption("Wisdom")
                        +virtueOption("Prowess")
                    input(type="number", name="attr_risk_template" readonly="true").invisible
                    div.form-group
                        label Public Name
                        input(type="checkbox", name="attr_public-name").sheet-toggle-show
                        label Invoke
                        input(type="checkbox", name="attr_invoke").sheet-toggle-show
                        label Tag
                        input(type="checkbox", name="attr_tag").sheet-toggle-show
                        label Wager
                        input(type="number", name=`attr_wager` value="0").textAlignCenter
                        label Bonus Dice
                        input(type="number", name=`attr_bonus-dice` value="0").textAlignCenter

                    button(type="roll", value="@{risk_template}" name="roll_virtue")
        div.marginTop50
        input(type="hidden", name=`attr_sheetTab` value="concept").sheet-tabstoggle
        div.flexrow
            span
                button(type="action" name="act_concept").sheet-button0 Concept
            span
                button(type="action" name="act_devotions").sheet-button1 Devotions
            span
                button(type="action" name="act_aspects").sheet-button2 Aspects
            span
                button(type="action" name="act_maneuvers").sheet-button3 Maneuvers
            span
                button(type="action" name="act_contacts").sheet-button4 Contacts
            span
                button(type="action" name="act_invokes").sheet-button5 Invokes
            span
                button(type="action" name="act_equipment").sheet-button6 Equipment
            span
                button(type="action" name="act_notes").sheet-button7 Notes

        div.sheet-concept
            include ./pc/concept.pug

        div.sheet-devotions
            include ./pc/devotions.pug

        div.sheet-aspects
            include ./pc/aspects.pug

        div.sheet-maneuvers
            include ./pc/maneuvers.pug

        div.sheet-contacts
            include ./pc/contacts.pug

        div.sheet-invokes
            include ./pc/invokes.pug

        div.sheet-equipment
            include ./pc/equipment.pug

        div.sheet-notes
            include ./pc/notes.pug
